<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  <title>Banner</title>
  <link rel="stylesheet" href="../styles/site.css">
</head>
<body>
  <div class="banner">
    <nav class="banner-nav">
      <ul>
        <li><a href="../index.html">HomePage</a></li>
        <li><a href="../components/publications.html">Publications</a></li>
        <li><a href="../components/honors.html">Honors/Awards</a></li>
        <li><a href="../components/services.html">Services</a></li>
      </ul>
    </nav>
    <div class="banner-logos">
      <a href="https://www.szu.edu.cn" target="_blank">
        <img src="../assets/icons/university.svg" alt="University Logo" class="logo">
      </a>
      <a href="https://www.labwebsite.com" target="_blank">
        <img src="../assets/icons/lab.svg" alt="Lab Logo" class="logo">
      </a>
    </div>
  </div>
</body>
</html>